Write a function that returns the lesser of two given numbers if both numbers are even, but returns the greater if one or both numbers are odd

lesser_of_two_evens(2,4) --> 2

lesser_of_two_evens(2,5) --> 5

In [1]:
def lesser_of_two_evens1(x1,x2):
    if (x1%2 == 0) and (x2%2 == 0):
        if (x1 > x2):
            return x2
        else:
            return x1
    else:
        if (x1>x2):
            return x1
        else:
            return x2

In [2]:
# or
def lesser_of_two_evens(x1,x2):
    if (x1%2 == 0) and (x2%2 == 0):
        return min(x1,x2)
    else:
        return max(x1,x2)

In [3]:
lesser_of_two_evens(2,4)

2

In [4]:
lesser_of_two_evens(2,5)

5

ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter

animal_crackers('Levelheaded Llama') --> True

animal_crackers('Crazy Kangaroo') --> False

In [10]:
def animal_crackers(str1):
    lst = str1.split()
    if (lst[0][0].lower() == lst[1][0].lower()):
        return True
    else:
        return False

# ---- or -------
# return lst[0][0] == lst[1][0]

In [14]:
animal_crackers('Levelheaded Llama')

True

In [15]:
# Check
animal_crackers('Crazy Kangaroo')

False

MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 or if one of the integers is 20. If not, return False

makes_twenty(20,10) --> True

makes_twenty(12,8) --> True

makes_twenty(2,3) --> False

In [16]:
def makes_twenty(x1,x2):
    if (x1 == 20) or (x2 == 20):
        return True
    elif ((x1+x2) == 20):
        return True
    else:
        return False

# ---- or ------
# return (n1+n2)==20 or n1==20 or n2==20

In [17]:
makes_twenty(20,10)

True

In [18]:
makes_twenty(12,8)

True

In [19]:
makes_twenty(2,3)

False

## LEVEL 1 PROBLEMS

OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
    
old_macdonald('macdonald') --> MacDonald

Note: 'macdonald'.capitalize() returns 'Macdonald'

In [5]:
def old_macdonald(str):
    tmpstr = ""
    for pos,c in enumerate(str):
        if (pos == 0) or (pos == 3):
            tmpstr += c.upper()
        else:
            tmpstr += c
    return tmpstr

In [ ]:
def old_macdonald(name):
    if len(name) > 3:
        return name[:3].capitalize() + name[3:].capitalize()
    else:
        return "Name is short"

In [6]:
old_macdonald('macdonald')

'MacDonald'

MASTER YODA: Given a sentence, return a sentence with the words reversed

master_yoda('I am home') --> 'home am I'

master_yoda('We are ready') --> 'ready are We'

Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

"--".join(['a','b','c'])
'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

" ".join(['Hello','world'])
"Hello world"

In [17]:
def master_yoda(st):
    lst = st.split()
    lst.reverse()
    return " ".join(lst)

# ---- or -----
# return " ".join(st.split()[::-1])

In [18]:
master_yoda('I am home')

'home am I'

In [19]:
master_yoda('We are ready')

'ready are We'

ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

almost_there(90) --> True

almost_there(104) --> True

almost_there(150) --> False

almost_there(209) --> True

NOTE: abs(num) returns the absolute value of a number

In [20]:
def almost_there(x1):
    if (((x1>=(100-10)) and (x1<=(100+10))) or ((x1>=(200-10)) and (x1<=(200+10)))):
        return True
    else:
        return False

In [21]:
almost_there(90)

True

In [22]:
almost_there(104)

True

In [23]:
almost_there(150)

False

In [24]:
almost_there(209)

True

## LEVEL 2 PROBLEMS

FIND 33:
Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

has_33([1, 3, 3]) → True

has_33([1, 3, 1, 3]) → False

has_33([3, 1, 3]) → False

In [6]:
def has_33(lst):
    occ = 0
    for item in lst:
        if (item == 3):
            occ += 1
            if (occ == 2):
                return True           
            continue
            
        occ = 0
        
    return False

In [9]:
# Better solution

def has_33(lst):
# Since i and i+1 is checked, -1 is needed.    
    for i in range(0,len(lst)-1):
        if (lst[i] == 3 and lst[i+1] == 3):
            return True
    return False

In [10]:
has_33([1, 3, 3])

True

In [11]:
has_33([1, 3, 1, 3])

False

In [12]:
has_33([3, 1, 3])

False

In [13]:
has_33([3,0,3,1,1,1])

False

PAPER DOLL: Given a string, return a string where for every character in the original there are three characters

paper_doll('Hello') --> 'HHHeeellllllooo'

paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [14]:
def paper_doll(pstr):
    my_str = ""
    for c in pstr:
        count = 0
        while(count < 3):
            count += 1
            my_str += c
    return my_str

In [15]:
# Better solution
def papaer_doll(pstr):
    mystr=''
    for char in pstr:
        mystr += char*3
    return mystr

In [16]:
paper_doll('Hello')

'HHHeeellllllooo'

In [17]:
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 and there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'

blackjack(5,6,7) --> 18

blackjack(9,9,9) --> 'BUST'

blackjack(9,9,11) --> 19

In [36]:
def blackjack(x1,x2,x3):
    
    sum = x1 + x2 + x3
    
    # Better condition
    # 11 in (x1,x2,x3)
    if ((sum > 21 ) and ((x1 == 11) or (x2==11) or (x3 == 11))):
        sum -= 10
    
    if (sum <= 21):
        return sum
    else:
        return "BUST"

In [37]:
blackjack(5,6,7)

18

In [38]:
blackjack(9,9,9)

'BUST'

In [39]:
blackjack(9,9,11)

19

SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.

summer_69([1, 3, 5]) --> 9

summer_69([4, 5, 6, 7, 8, 9]) --> 9

summer_69([2, 1, 6, 9, 11]) --> 14

In [18]:
def summer_69(lst):
    sum = 0
    flag = False
    
    for num in lst:        
        if (num != 9) and (flag == True):
            continue        
        elif (num == 6):
            flag = True
        elif (num == 9):
            flag = False
        else:
            sum += num
    return sum

In [19]:
# Other solution
def summer_69(arr):
    total = 0
    add = True
    for num in arr:
        while add:
            if num != 6:
                total += num 
                break
            else:
                add = False
        while not add:
            if num != 9:
                break
            else:
                add = True
                break
    return total

In [20]:
summer_69([1, 3, 5])

9

In [21]:
summer_69([4, 5, 6, 7, 8, 9])

9

In [22]:
summer_69([2, 1, 6, 9, 11])

14

In [23]:
summer_69([2, 1, 6, 9, 1,2,3,6,4,5,9,1])

10

# CHALLENGING PROBLEMS

SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order
 
spy_game([1,2,4,0,0,7,5]) --> True
 
spy_game([1,0,2,4,0,5,7]) --> True

spy_game([1,7,2,0,4,5,0]) --> False

In [24]:
def spy_game(lst):
    flag1 = False
    flag2 = False
    
    for num in lst:
        if (num == 0) and (flag1 == False):
            flag1 = True
        elif (num == 0) and (flag1 == True):
            flag2 = True
        elif (num == 7) and (flag1 == True) and (flag2 == True):
            return True
        else:
            pass
    return False

In [50]:
# Other Solution
def spy_game(nums):
    pattern = [0,0,7,'x']
    
    for num in nums:
        if (num == pattern[0]):
            pattern.pop(0)
    return len(pattern) == 1

In [51]:
spy_game([1,2,4,0,0,7,5])

True

In [29]:
spy_game([1,0,2,4,0,5,7])

True

In [30]:
spy_game([1,7,2,0,4,5,0])

False

COUNT PRIMES: Write a function that returns the number of prime numbers that exist up to and including a given number

count_primes(100) --> 25

## Note- There is for else loop in python. The else block of the code is executed only if break statement was not executed in for block.
#### Trick to remember- break statement breaks from both for and else block.

In [75]:
for i in range(5):
    print(f'{i}')
    if (i == 2):
        break
else:
    print('else part')

0
1
2

In [76]:
for i in range(5):
    print(f'{i}')
    if (i == 2):
        pass
else:
    print('else part')

0
1
2
3
4
else part

In [78]:
def count_primes(num):
    primes = [2]
    x = 3
    if num<2:
        return 0
    while x <= num:
        for i in primes:
            if x%i == 0:
                x += 2
                break
        else:
            primes.append(x)
            x += 2
    print(primes)
    return len(primes)

In [79]:
count_primes(100)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97]

25

Just for fun:
PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter

print_big('a')

out:    *  

      * *
     
     *****
     
     *   *
     
     *   *

HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns.
For purposes of this exercise, it's ok if your dictionary stops at "E".

In [83]:
di = {'A':[[' ',' ','*',' ',' '],[' ','*',' ','*',' '],['*','*','*','*','*'],['*',' ',' ',' ','*'],['*',' ',' ',' ','*']],
     'B':[['*','*','*','*','*'],['*',' ',' ',' ','*'],['*','*','*','*','*'],['*',' ',' ',' ','*'],['*','*','*','*','*']],
     'C':[['*','*','*','*','*'],['*',' ',' ',' ',' '],['*',' ',' ',' ',' '],['*',' ',' ',' ',' '],['*','*','*','*','*']],
     'D':[['*','*','*','*','*'],['*',' ',' ',' ','*'],['*',' ',' ',' ','*'],['*',' ',' ',' ','*'],['*','*','*','*','*']],         
    }

def print_big(ch):
    for row in di[ch]:
        for item in row:
            print(item,end='')
        print('')

In [84]:
print_big('A')

  *
 * *
*****
*   *
*   *

In [86]:
print_big('B')

*****
*   *
*****
*   *
*****

In [87]:
print_big('C')

*****
*
*
*
*****

In [88]:
print_big('D')

*****
*   *
*   *
*   *
*****

# Functions and Methods Homework

Write a function that computes the volume of a sphere given its radius.

The volume of a sphere is given as

In [1]:
def vol (rad):
    return (4/3)*(22/7)*(rad**3)

In [2]:
vol(2)

33.52380952380952