# if, elif and else statements

In [4]:
loc = "Home"

if loc == 'school':
    print("Your are in school")
elif loc == "Home":
    print("Your are in home")
else:
    print("Where are you ?")

Your are in home

# for loops

In [5]:
## Iterating a string
str = "Hello world"
for c in str:
    print(c)

H
e
l
l
o

w
o
r
l
d

In [6]:
# Tupple unpacking- obtaining the tuples present in the list
lst = [(1,2),(3,4),(5,6)]

for a,b in lst:
    print(a)
    print(b)

1
2
3
4
5
6

In [7]:
# Iterating through dictionary
# Note- In dictionaries there is no gurantee that the obtained values are in the order they are initilaized.
d = {'k1':'v1','k2':'v2','k3':'v3'}

# only keys are printed by default
for item in d:
    print(item)

k1
k2
k3

In [8]:
# Printing the values
for val in d.values():
    print (val)

v1
v2
v3

In [9]:
# To print the Key:Value pair
for key,val in d.items():
    print ("Key-{}:Val-{}".format(key,val))

Key-k1:Val-v1
Key-k2:Val-v2
Key-k3:Val-v3

# While loops

In [10]:
x = 0

while x < 5:
    print(f'Value of x:{x}')
    x += 1

Value of x:0
Value of x:1
Value of x:2
Value of x:3
Value of x:4

#### break: Breaks out of the closest enclosed loop

In [11]:
x = 0

while x < 5:
    if x == 2:
        break
    print(f'Value of x:{x}')
    x += 1

Value of x:0
Value of x:1

#### continue: Moves to the top of the closest enclosed loop

In [15]:
x = [1,2,3,4,5]

for item in x:
    if item == 2:
        continue
    print(f'Value of x:{item}')

Value of x:1
Value of x:3
Value of x:4
Value of x:5

#### pass: Does nothing. It is used instead of body of the loop to prevent any compiler errors

In [17]:
x= [1,2]

for it in x:
    pass

# Useful operations in python

#### range(start,stop,step_size) : Generate a sequnce of numbers. This is a generator function, so need to cast that oputput to a list() to obtian the value.

In [24]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [25]:
type(range(10))

range

In [23]:
for i in range(0,10,2):
    print("i:{}".format(i))

i:0
i:2
i:4
i:6
i:8

#### enumerate: Yields pairs containing a count(starting from 0) and a value yielded by the iteratble object in form of tuples

In [29]:
list(enumerate("Avinash"))

[(0, 'A'), (1, 'v'), (2, 'i'), (3, 'n'), (4, 'a'), (5, 's'), (6, 'h')]

In [27]:
# tuple unpacking
for index,value in enumerate("Avinash"):
    print(f'{index}:{value}')

0:A
1:v
2:i
3:n
4:a
5:s
6:h

#### zip: To combine/one-one mapping between two or more lists in form of tuples. The list having leat number of elements dicatates the mapping.

In [32]:
lst1 = ['a','b','c']
lst2 = [1,2,3,4,5,6]
lst3 = ['apple','ball']

In [33]:
list(zip(lst1,lst2,lst3))

[('a', 1, 'apple'), ('b', 2, 'ball')]

In [34]:
for ls1,ls2,ls3 in zip(lst1,lst2,lst3):
    print(f'{ls1}:{ls2}:{ls3}')

a:1:apple
b:2:ball

#### in: To check if a specific element in there in the iteratable object.

In [35]:
"a" in ['x','x','a','o']

True

In [43]:
d = {"d1":"v1","d2":"v2","d3":"v3"}
# Checking if the key is present
print ("d1" in d)
# Checking if value is present
print ("v1" in d.values())
d.

True
True

#### Min and Max

In [45]:
lst = [1,2,3,4,5]

# Min
print(min(lst))
# Max
print(max(lst))

1
5

#### random:  This is a python built in library which has many functions within it.

In [46]:
from random import shuffle

In [47]:
lst = [1,2,3,4,5,6]

In [49]:
# Doesn't return anything. This changes are in place
shuffle(lst)
lst

[5, 6, 4, 1, 2, 3]

In [50]:
from random import randint

In [51]:
randint(0,99)

78

#### input: To obtain the input from the user. By default, the obtained value is treated as string.

In [56]:
result = input("Enter any number:")

Enter any number:5

In [57]:
type(result)

str

In [58]:
# Casting it to int
int(result)

5

#### List Comprehensions: Is used to build a list using a different notation. It is a one line for loop built inside of a bracket.

In [59]:
mylist = []

for ch in "Hello":
    mylist.append(ch)

mylist

['H', 'e', 'l', 'l', 'o']

In [61]:
# List comprehension is used to convert the above code to one liner.
lst = [ch for ch in "Hello"]
lst

['H', 'e', 'l', 'l', 'o']

In [62]:
# Squaring the numbers and turning them to list
lst = [x**2 for x in range (0,5)]
lst

[0, 1, 4, 9, 16]

In [63]:
# Adding if in the list comprehension
lst = [x for x in range(5) if x%2 == 0]
lst

[0, 2, 4]

In [67]:
# Nested for loop
lst = [x/3 for x in [x*3 for x in range(3)]]
lst

[0.0, 1.0, 2.0]