# List

* Lists are used to hold objects of either same type or of different type
* Lists are mutable
* Lists are constructed with [] brackets and the elements in the list are seperated using ','

In [2]:
# Creating list of integers
lst = [1,2,3]
lst

[1, 2, 3]

In [20]:
# Creating list having elements of different type
lst = [1,"Hello",2.3]
lst

[1, 'Hello', 2.3]

In [15]:
# Indexing
print ("Second element in the list: {}".format(lst[1]))
# Reversing the string present in the list
print ("Reversed string in the list: {}".format(lst[1][::-1]))

Second element in the list: Hello
Reversed string in the list: olleH

In [16]:
# Slicing
# Accessing 1 to 3 (Where index 3 is excluded)
lst[1:3]

['Hello', 2.3]

In [14]:
import sys
# Checkign the size of the list.
print ("Size of list + garbage collector using sizeof() is {}".format(sys.getsizeof(lst)))
print ("Size of list using __sizeof__ is {}".format(lst.__sizeof__()))

Size of list + garbage collector using sizeof() is 120
Size of list using __sizeof__ is 104

In [17]:
# Concatenating two list
lst + ["World"]

[1, 'Hello', 2.3, 'World']

In [21]:
# Appending new element to the end
lst.append("APPEND THIS")
lst

[1, 'Hello', 2.3, 'APPEND THIS']

In [22]:
# Make the list double. Howver, this is just temporary
lst*2

[1, 'Hello', 2.3, 'APPEND THIS', 1, 'Hello', 2.3, 'APPEND THIS']

In [23]:
lst

[1, 'Hello', 2.3, 'APPEND THIS']

In [24]:
# Poping last element from the list
lst.pop()

'APPEND THIS'

In [25]:
lst

[1, 'Hello', 2.3]

In [26]:
# Poping a element, other than last one, from the list
lst.pop(0)

1

In [27]:
lst

['Hello', 2.3]

In [28]:
new_lst = ['b','m','a','z','o','p']

In [33]:
# Sorting the list; this is inplace.
new_lst.sort()
new_lst

['a', 'b', 'm', 'o', 'p', 'z']

In [34]:
# Reversing the list; this is also inplace.
new_lst.reverse()
new_lst

['z', 'p', 'o', 'm', 'b', 'a']

In [35]:
new_lst

['z', 'p', 'o', 'm', 'b', 'a']

In [37]:
# Nesting the list
nested_lst = [["A","B","C"],[1,2,3],["Apple","Ball","Cat"]]
nested_lst

[['A', 'B', 'C'], [1, 2, 3], ['Apple', 'Ball', 'Cat']]

In [38]:
# Accessing Apple from the nested list
nested_lst[2][0]

'Apple'

# Dictionaries

* Dictionaries are key:vale pairs where the key has to be of any type that is immutable- int, string, float, tuple, etc-, but the value can be of any type.
* Dictionaries are enclosed within {}
* Dictionaries are unorderd i.e they cannot be indexed using their positions nor can they be accessed using slicing similar to 
  string or list
* Dictionaries values are accessed using the keys only.

In [46]:
# Declaring a dictionary
d = {"A":[1,2,3],
     "B":[4,5,6],
     "C":[7,8,9]
    }
print (d)

{'A': [1, 2, 3], 'B': [4, 5, 6], 'C': [7, 8, 9]}

In [47]:
# Accessing a value from the dictionary
d["B"]

[4, 5, 6]

In [49]:
# Accessing 8 from the dictionary
d["C"][1]

8

In [68]:
# Declaring nested dictionary
d2  = { 1:{"Apple":[1,2,3]},
        2:{"Ball":[4,5,6]},
        3:{"Cat":[7,8,9]}
      }
print(d2)

{1: {'Apple': [1, 2, 3]}, 2: {'Ball': [4, 5, 6]}, 3: {'Cat': [7, 8, 9]}}

In [69]:
# Accessing 8 from the nested dictionary
d2[3]['Cat'][1]

8

In [70]:
# Adding a new key:value pair to the dictionary
d2[0] = {"Dog":[10,11,12]}
print(d2)

{1: {'Apple': [1, 2, 3]}, 2: {'Ball': [4, 5, 6]}, 3: {'Cat': [7, 8, 9]}, 0: {'Dog': [10, 11, 12]}}

In [71]:
# Removing elements from the dictionary
# pop("Key value")
d2.pop(0)
print (d2)

{1: {'Apple': [1, 2, 3]}, 2: {'Ball': [4, 5, 6]}, 3: {'Cat': [7, 8, 9]}}

In [59]:
# Listing all the keys
d2.keys()

dict_keys([1, 2, 3, 0])

In [60]:
# Listing all the values
d2.values()

dict_values([{'Apple': [1, 2, 3]}, {'Ball': [4, 5, 6]}, {'Cat': [7, 8, 9]}, {'Dog': [10, 11, 12]}])

In [62]:
# Listing the Key:Value pairs in the dictionary
d2.items()

dict_items([(1, {'Apple': [1, 2, 3]}), (2, {'Ball': [4, 5, 6]}), (3, {'Cat': [7, 8, 9]}), (0, {'Dog': [10, 11, 12]})])

# Tuples

Tuples are similar to list, but they are immutable meaning they can't be changed. Tuples are used to store those things which
usually don't change.

In [1]:
# Creating a tuple
t = (1,"Hello",3.3)
t

(1, 'Hello', 3.3)

In [2]:
# Indexing of tuples
t[1]

'Hello'

In [3]:
# Obtaining the index of a element
t.index("Hello")

1

In [4]:
# Counting the number of occurence
t.count("Hello")

1

In [5]:
# Not possible to append or change any element
t[0] = 9

TypeError: 'tuple' object does not support item assignment

# Sets

* Sets are unordered collection of unique elements
* These are constructed using the set function

In [11]:
s = {1}
type(s)

set

In [10]:
# Adding element to the set
s.add(3)
s

{1, 3}

In [13]:
# Creating a set from the list
t = set([1,1,2])
t

{1, 2}