# Functions

For better redability, the function names are snake cased- names in lower case and underscores are used to seperate words.

In [1]:
def print_name(name='defualt'):
    print(f'Hello {name}')

In [5]:
print_name("Avinash")
print_name()

Hello Avinash
Hello defualt

In [3]:
def return_sum(num1,num2):
    return num1+num2

In [4]:
ret = return_sum(5,4)
ret

9

In [22]:
work_hours = [("Abby",400),('Billy',4000),('Cassie',800)]

In [23]:
def employee_of_year(tup_list):
    
    ename=''
    max_hours = 0
    
    for name,hours in tup_list:
        if (hours > max_hours):
            ename = name
            max_hours=hours
            
    return (ename,max_hours)

In [26]:
result = employee_of_year(work_hours)
result

('Billy', 4000)

In [27]:
name,hours = employee_of_year(work_hours)
print(f'{name}:{hours}')

Billy:4000

# Arguments and keyword arguments

<div class="boxBorder">  *args and **kwargs are used to take arbitary number of inputs paramters in the function.</div>


*args: Passed arguments will form a tuple


**kwargs: Passed keyword arguments will form dictonary with key:value pairs.

In [28]:
def my_func(*args):
    print(args)
    print (sum(args))

In [29]:
my_func(10,20,30)

(10, 20, 30)
60

In [32]:
def my_func2(**kwargs):
    print(kwargs)
    print("Sport is: {}".format(kwargs['Sport']))

In [35]:
# The first parameter should be just value and not a string.
my_func2(Food="Dosa",Sport="Cricket")

{'Food': 'Dosa', 'Sport': 'Cricket'}
Sport is: Cricket

In [36]:
def my_func3(*args,**kwargs):
    print(args)
    print(kwargs)

In [37]:
my_func3("Hello","There",fruit="Apple",City="BLR")

('Hello', 'There')
{'fruit': 'Apple', 'City': 'BLR'}

In [40]:
st = ''
st+'a'

'a'

# Lambda function, Map and Filters

Lambda functions are anonymous functions without any name. They can take any number of arguments, but have only one expression.
Lambda functions are needed when function objects are required.
Usually lambda functions are used in map and filter which takes function object as paramter.

In [45]:
def square(x):
    print (f'{x**2}')

In [47]:
# This is just a function object. 
lsquare = lambda x:x**2

In [48]:
# To call the function () are needed.
lsquare(2)

4